#Documentation#  

<% _.each(data, function(fcn) { %>
    <% if(fcn.type == 'object') { %>
##<%= fcn.name %>##  
        <% _.each(fcn.children, function(fcn2) { %>
###<%= fcn2.name %>###  `<%= fcn.name %>.<%= fcn2.name %><% if(fcn2.params){ %>(<% _.each(fcn2.params, function(fcn3) { %><%= fcn3.name %>, <% }); %>)<% } %>`  
<p>&nbsp;&nbsp;Blurb about this function. You complete this yourself.</p>
<% }); %>
    <% }else{ %>
###<%= fcn.name %>###  `<%= fcn.name %><% if(fcn.params){ %>(<% _.each(fcn.params, function(fcn3) { %><%= fcn3.name %>, <% }); %>)<% } %>`  

Blurb about this function. You complete this yourself
  <% _.each(fcn.children, function(fcn2) { %>
**<%= fcn2.name %>**  `<%= fcn.name %>.<%= fcn2.name %><% if(fcn2.params){ %>(<% _.each(fcn2.params, function(fcn3) { %><%= fcn3.name %>, <% }); %>)<% } %>
Blurb about this function. You complete this yourself.
<% }); %>
<% _.each(fcn.prototype, function(fcn3) { %>
**<%= fcn.name %>.<%= fcn3.name %>** `<%= fcn.name %>.<%= fcn3.name %><% if(fcn3.params && fcn3.params.length > 0){ %>(<% _.each(fcn3.params, function(fcn4) { %><%= fcn4.name %>,<% }); %>)<% } %> 
Blurb about this function. You complete this yourself.
                <% }); %>
    <% } %>
<% }); %>
